<app-nav-bar></app-nav-bar>

<div class="container">
    <table class="table table-light table-hover align-middle mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="2">Producto</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Sub-total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of itemsCarrito; let i = index">
            <th scope="row">{{i+1}}</th>
            <td colspan="2"><img src={{item.imagen}} style="height: 50px; width: 90px;"> {{item.nombre}}</td>
            <td>{{item.precio | currency}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.precio * item.cantidad | currency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Total del pedido</th>
            <td colspan="3"></td>
            <td><strong>{{totalPedido | currency}}</strong></td>
            <td><button (click)="pagar()" class="btn btn-success">Pagar <i class="fas fa-check"></i></button></td>
        </tr>
        </tfoot>
    </table>
</div>