<app-nav-bar></app-nav-bar>

<div class="container">
    <table class="table table-light table-hover align-middle mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Sub-total</th>
            <th scope="col">Quitar producto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="../../../assets/login-fondo.jpg" style="height: 50px; width: 90px;"> Papas</td>
            <td>123.56</td>
            <td>3</td>
            <td>1234.00</td>
            <td><button class="btn btn-danger"><i class="far fa-trash-alt fa-lg"></i></button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Total del pedido</th>
            <td colspan="3"></td>
            <td>$2343.50</td>
            <td><a routerLink="/home" class="btn btn-success">Pagar <i class="fas fa-check"></i></a></td>
        </tr>
        </tfoot>
    </table>
</div>