<nav class="navbar navbar-light bg-light mt-3">
    <div class="container-fluid">
      <a class="navbar-brand">La bodega tienda en linea</a>
      <button type="button" class="btn btn-outline-warning" (click)="salir()">Salir</button>
      <span style="color: rgb(71, 99, 255);"><i class="fas fa-shopping-cart fa-2x">&nbsp;4</i></span>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar un producto" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>